*{
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
header{
    
    background-color: hsla(0, 80%, 61%, 0.747);
    padding: 20px;
    text-align: center;
    box-shadow: 0 2px 4px rgb(223, 33, 33);
}
h1 {
    color: #343a40;
    font-size: 2.5em;
}
nav {
    margin: 20px 0;
    display: flex;
    justify-content: center;
    font-size: 1.2em;
    font-family: Arial, sans-serif;
    
}
nav a {
    color: #0a74e6;
    text-decoration: none;
    margin: 0 15px;
    padding: 5px 10px;
    border-radius: 3px;
    transition: background-color 0.3s, color 0.3s;
    font-weight: bold;
    font-size: 1.1em;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    display: inline-block;
    margin-bottom: 10px;
    
}
nav a:hover {
    background-color: #007bff;
    color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.about-highlight {
    background-color: #007bff;
    color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

main {
    padding: 20px;
    background-color: #f8f9fa;
    color: #343a40;
    line-height: 1.6;
    font-size: 1.2em;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin: 20px auto;
}

main h2 {
    color: #343a40;
    font-size: 2em;
    margin-bottom: 20px;
}
main p {
    margin-bottom: 20px;
}


footer{
    clear: both;
    background-color: hsla(0, 80%, 61%, 0.747);
    padding: 20px;
    text-align: center;
    color: #fff;
    position: relative;
    bottom: 0%;
    width: 100%;
    box-shadow: 0 -2px 4px rgb(223, 33, 33);
}

@media (max-width: 1024px) {
    nav {
        flex-direction: column;
        align-items: center;
    }
    nav a {
        margin: 10px 0;
        width: 80%;
        text-align: center;
    }
    main {
        width: 95%;
        font-size: 1em;
        padding: 15px;
    }
}

@media (max-width: 600px) {
    header, footer {
        padding: 10px;
    }
    h1 {
        font-size: 1.5em;
    }
    main h2 {
        font-size: 1.2em;
    }
    nav a {
        font-size: 1em;
        padding: 8px 0;
        width: 100%;
    }
    main {
        padding: 10px;
        font-size: 0.95em;
    }
}